body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}
header h1 {
    margin: 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #333;
    object-fit: cover;
    margin-right: 20px;
}
.detalles {
    max-width: 400px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
a{
    text-decoration: none;
    color: #333;
    height: 40px;
}
.btn{
    background-color: white;
    font-size: large;
    border: 1px solid black;
    border-radius: 7.5px;
    height: 40px;
}
.btn:hover{
    background-color: rgb(218, 218, 218);
    cursor: pointer;
}